@{
    ViewData["Title"] = "Torres Contract";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    85 Airedale Street<br />
    Auckland 1010, New Zealand<br />
    <abbr title="Phone">P:</abbr>
    0212953582
</address>

<address>
    <strong>Email:</strong> <a href="mailto:Torresnceuitt@gmail.com">Torresnceuit@gmail.com</a><br />
    <strong>Github:</strong> <a href="mailto:www.Github.com/Torresnceuit">www.github.com/torresnceuit</a>
</address>
