<!DOCTYPE html>
<html>
<head>

    <style>
        /*LAYOUT DEFINITION*/
        div.container {
            width: 100%;
            border: 5px solid gray;
            
        }

        header,footer {
            padding: 0px;
            color: white;
            background-color: black;
            clear: right;
            text-align: center;
            
            
            
            
            
        }
        /*Define a picture box for custom avatar*/
        picture{
            float: left;                     
            margin-right: 10px;
            padding: 2px;
            
        }

        /*nav {
            float: left;
            max-width: 160px;
            margin: 0;
            padding: 1em;
        }

            nav ul {
                list-style-type: none;
                padding: 0;
            }

                nav ul a {
                    text-decoration: none;
                }*/
        instroduction{
            padding: 10px;
            text-align: justify;
            color: white;
        }

        article {
            margin-left: 170px;
            border-left: 1px solid gray;
            padding: 1em;
            overflow: hidden;
        }
        /*FONT DEFINITION*/
        .italic{
            font-style: italic;
        }
        .bold{
            font-weight: bold;
        }
    </style>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Show my history background and ability to learn" />
    <meta name="author" content="TORRES NGUYEN"/>
    <title>@ViewData["Title"] - Torres Career History</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>


</head>
<body>
    <!-- Header -->
    <header>
        <div class="container">
            <picture>
                <img src="~/images/Avatar.JPG" atl="for customer" width="180" height="240" />
            </picture>
            <article>
                <h1 class="bold"><span style="color:blue">TORRES</span><span style="color:red"> NGUYEN</span></h1>
                <h2 class="italic">Stay hungry, Stay foolish</h2>
                <introduction>
                    <p>
                        A driven, open minded, creative and successful senior software engineer with huge knowledge of C/C++, C#, Java, and over 5 years of progressive experience in embedded and backend server. 
                        I have much experience of creating logical and innovative solutions to complex problems. 
                        I am also constantly striving to learn new technologies and improve myself to be more benificial to employers. 
                        I am holding a valid NZ open work visa and looking for a new challenge which I can demonstrate my skills and knowledge.
                    </p>
                </introduction>
            </article>

        </div>

    </header>
    <div class="container">
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <!----div class="container"-->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">MyCV</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a asp-area="" asp-controller="WorkExperiences" asp-action="Index">Work Experiences</a></li>
                    <li><a asp-area="" asp-controller="Projects" asp-action="Index">Projects</a></li>
                    <li><a asp-area="" asp-controller="Skills" asp-action="Index">Skills</a></li>
                    <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>


                </ul>
            </div>
            <!--</div>-->
        </nav>


    </div>


    <div class="container body-content">
        @RenderBody()
        <hr />

    </div>

    <footer>
        <p>&copy; 2017 - My Career Path</p>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
